google-generativeai==0.5.2
grpcio-status==1.62.2
ipykernel==6.29.4
networkx==3.3
openai==1.23.2
pipenv==2023.12.1
python-dotenv==1.0.1
reflex-google-auth==0.0.5
reflex-webcam==0.0.5
scikit-learn==1.4.2
seaborn==0.13.2
